<h1>{{ question.question_text }}</h1><!– prueba –><!--Hola!, soy un comentario en html-->
<ul>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:results' question.id %}" method="post">
{% csrf_token %}
<!--devuelve respuestas en ..polls/7/-->
{% for choice in question.choice_set.all %}
    <!--<li>{{ choice.choice_text }}</li>-->
    <input type="checkbox" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
{% endfor %}
</ul>
<input type="submit" value="Enviar Respuesta">
</form>
